* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

body {
    background-color: #fff8dc;
    font-family: Aldrich;
}

.dropdown {
    background-color: #2f4f4f;
    text-align: center;
    color: #fff8dc;
    height: 60px;
}

.dropdown ul {
    display: inline-flex;
    list-style-type: none;
    color: #fff8dc;
}

.dropdown ul li {
    width: 150px;
    margin: 25px;
}

.dropdown ul li a{
    text-decoration: none;
    color: #fff8dc;
}


.dropdown ul li:hover {
    background-color: darkgrey;
    border-radius: 25px;
}

ul ul {
    display: none;
}

.dropdown ul li:hover .menu {
   display: block;
   position: absolute;
   margin-top: 17px;
   margin-left: -15px;
   background-color: #2f4f4f;
   border-radius: 25px;
}

.dropdown ul li:hover .menu ul {
    display: block;
    margin: 10px;
}

.dropdown ul li:hover .menu ul li {
    width: 150px;
    padding: 10px;
}



h1 {
    text-align: center;
    padding-top: 250px;
    color: #fff8dc;
    font-size: 65px;
    background-image: url(/dense\ forest.jpg);
    border-bottom: 2px solid black;
}

.middle {
    padding-top: 50px;
}

h2 {
    color: #768798;
    font-weight: 100;
}

.winter {
    color: #000000;
    font-weight: 1000;
    font-size: 30px;
}

.issue,
.blog {
    display: inline-block;
}

.issue {
    padding-left: 50px;
}

img {
    height: 220px;
    width: 220px;
}

button {
    width: 220px;
    height: 75px;
    background-color: #2f4f4f;
    color: #fff8dc;
    font-size: 24px;
    font-weight: 1000;
    border-radius: 20px;
    border-color: #2f4f4f;
    cursor: pointer;
}

.blog {
    text-align: center;
    padding-top: 60px;
    justify-content: center;
    align-items: center;
    padding-left: 200PX;
    border: 4px solid #2f4f4f;

}

.byline {
    color: #768798;
    padding-top: 20px;
}

.dateline {
    padding-top: 20px;
    font-size: 30px;
}

.footer {
    background-color: #2f4f4f;
}

header {
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    color: #fff8dc;
}

.story {
   display: inline-flex;
  padding-left: 40px;
}

.fiction {
    width: 400px;
}
